.global-headline {
    text-align: center;
    margin-top: 3.9rem;
  }
  
  .discover-our-story .global-headline {
    margin-top: 6.9rem;
  }
  
  .global-headline .asterisk {
    color: var(--body-font-color);
    margin: 2.4rem 0;
  }
  
  .global-headline .sub-headline {
    letter-spacing: -1px;
    line-height: 0.42;
  }
  
  .restaurant-info {
    text-align: center;
  }
  
  .restaurant-description {
    margin-bottom: 3rem;
  }
  
  .restaurant-description p {
    line-height: 1.6;
    margin-bottom: 2.4rem;
  }
  
  .body-btn {
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    position: relative;
    transition: color 0.5s;
  }
  
  .body-btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-font-color);
  }
  
  .body-btn:hover,
  .body-btn:focus {
    color: var(--main-font-color-dark);
  }
  
  .body-btn:hover::before,
  .body-btn:focus::before {
    color: var(--main-font-color-dark);
  }